<!DOCTYPE html>
<html lang="en">
	<head>

	    <title>Gigity</title>
	    <!-- Materialize stylesheets -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	    <!-- css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/homepage-style.css">

	    <!-- Fonts -->
	    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Encode+Sans+Expanded" rel="stylesheet">

	    <!-- Firebase -->
	    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>

	</head>
	<body>
		{{{ body }}}
	</body>
</html>
