html { 
  background: url(images/pexels-photo-3961582.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
	margin: auto;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}


#profile-img {
	width: 40%;
	align-items: center;
}

.nav-wrapper {
 background-color: white;
}

.brand-logo {
	width: 110px;
}

#big-logo {
	width: 100%;
}

.button-collapse {
	color: grey;
}

#browse {
	color: grey;
}

.btn-large {
	width: 100%;
	margin: 5px;
	margin-bottom: 10px;
	background-color: white;
	opacity: .7;
	font-family: 'Encode Sans Expanded', sans-serif;
	color: #282734;
	font-weight: bold;
}

.btn-large:hover {
		background-color: white;
		opacity: 1;
}

.card {
	width: 50%;
}

.error-msg {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 13px;
    color: red;
}


@media screen and (max-width: 1800px) {
    #big-logo {
    	margin-top: 110%;
    }
    .btn-large {
    	display: block;
    	margin: 0 auto;
    	margin-bottom: 10px;
    }
}


@media screen and (max-width: 599px) {
    #big-logo {
    	display: block;
    	margin: 0 auto;
    	width: 80%;
    }
    .home-buttons {
		margin-top: 20%;
    }

    .btn-large {
    	display: block;
    	margin: 0 auto;
    	margin-bottom: 10px;
    	width: 80%;
    }
}

