.photo { 
    /* The image used */
    background-image: url("images/pexels-photo-3961582.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-container {
    max-height: 350px;

        /* The image used */
    background-image: url("images/pexels-photo.jpg");

    /* Full height */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body, html {
    background: linear-gradient(to bottom right, #565363, #2a2933, #565363, #2a2933);
    /*background-color: #373541;*/
    height: 100%;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	margin-top: 150px;
	text-shadow: 1px 1px 8px #696969;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.profile-card {
	background: #4e4b5a;
	margin-top: 20px;
	border-radius: 10px;
	text-align: center;
	font-family: 'Encode Sans Expanded', sans-serif;
}

#profile-img {
	width: 100%;
	align-items: center;
}

.nav-wrapper {
 background-color: white;
}

.brand-logo {
	width: 110px;
}

#big-logo {
	width: 100%;
}

.button-collapse {
	color: grey;
}

#browse {
	color: grey;
}

#employer {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

.home-button {
	width: 100%;
	margin: 5px;
	margin-bottom: 10px;
	background-color: white;
	opacity: .8;
	font-family: 'Encode Sans Expanded', sans-serif;
	font-size: 18px;
	color: #282734;
	font-weight: 900;
}

.home-button:hover {
		background-color: white;
		opacity: 1;
}

.error-msg {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 13px;
    color: red;
}

.review-card {
	margin-top: -10px;
	background: #4e4b5a;
	font-family: 'Encode Sans Expanded', sans-serif;
	color: white;
	text-align: left;
}

#contact-btn {
	margin-bottom: -6px;
	width: 100%;	
	background: transparent;
	outline-style: solid;
    outline-color: white;
    outline-width: 1px;
    font-size: 16px;
}

#contact-btn:hover {
	margin-bottom: -6px;
	outline-style: solid;
    outline-color: white;
    outline-width: 1px;
	background-color: white;
	color: #373541;
}


.card-title{
    margin-top: -10px;
    font-weight: bold;

}

#contact-modal {
	margin-top: 0px;
}

.container {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.card-content {
	font-family: 'Encode Sans Expanded', sans-serif;
	color: white;

}

.nav-wrapper {
	font-family: 'Encode Sans Expanded', sans-serif;
	color: #282734;
}

#buttons {
	margin-top: 20px;
	width: 80%;
	margin-bottom: 0px;
}

.board-buttons{

	background-color: white;
	opacity: .8;
	font-family: 'Encode Sans Expanded', sans-serif;
	color: #282734;
	font-weight: 900;
}

.board-buttons:hover {
	background-color: white;
	opacity: 1;
	font-family: 'Encode Sans Expanded', sans-serif;
	color: #373541;
	font-weight: 900;
}


.card-btn {
	width: 100%;	
	margin: 5px;
	background: transparent;
	outline-style: solid;
    outline-color: white;
    outline-width: 1px;
    font-size: 16px;
	
}

.card-btn:hover {
	outline-style: solid;
    outline-color: white;
    outline-width: 1px;
	background-color: white;
	color: #373541;

}


@media screen and (max-width: 1800px) {
    #big-logo {
    	margin-top: 110%;
    }
    .btn-large {
    	display: block;
    	margin: 0 auto;
    	margin-bottom: 10px;
    }
}


@media screen and (max-width: 599px) {
    #big-logo {
    	display: block;
    	margin: 0 auto;
    	width: 80%;
    }
    .homepage-buttons {
		margin-top: 20%;
    }

    .home-button {
    	display: block;
    	margin: 0 auto;
    	margin-bottom: 10px;
    	width: 80%;
    }

    #buttons {
	width: 100%;
	margin-bottom: 0px;
	}

	.card-btn {
    	display: block;
    	margin: 0 auto;
    	margin-bottom: 10px;
    	width: 100%;
    }
}

