
.btn-large {
	width: 90%;
	margin: 10px;
	background-color: white;
	opacity: .6;
	font-family: 'Encode Sans Expanded', sans-serif;
	color: #282734;
	font-weight: bold;
}

.btn-large:hover {
		background-color: white;
		opacity: 1;
}

@media screen and (max-width: 599px) {

#buttons {
	margin-top: 20px;
	width: 100%;
	margin-bottom: 0px;
}

.btn-large {
    	display: block;
    	margin: 0 auto;
    	margin-bottom: 10px;
    	width: 100%;
    }
}