body {
	margin: auto;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

#profile-img {
	width: 40%;
	align-items: center;
}

.nav-wrapper {
 background-color: #C0C1C5;
}


.btn-large {
	width: 45%;
	margin: 20px;
	background-color: #C0C1C5;
	font-family: 'Encode Sans Expanded', sans-serif;
}

.btn-large:hover {
		background-color: #3A3A3A;
}

.card {
	width: 50%;
}
