
/*header {
	background: url("images/pexels-photo-257937.jpg") no-repeat top center;
}
*/
body {
	margin: auto;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
	text-align: center;
	font-family: 'Encode Sans Expanded', sans-serif;
}

#buttons {
	width: 76%;
}

#board-photo {
	width: 100%;
	margin: 0;
}

h3 {
	font-size: 20px;
	text-align: right;
	font-family: 'Encode Sans Expanded', sans-serif;
	z-index: 100;
  	position: absolute;
  	/*left: 150px;*/
  	top: 150px;
}

#profile-img {
	width: 40%;
	align-items: center;
}

.nav-wrapper {
 background-color: white;
}

.brand-logo {
	width: 110px;
}

.button-collapse {
	color: grey;
}

#browse {
	color: grey;
}

.card {
	width: 100%;
}

#cards {
	width: 95%;
}

.btn-large {
	width: 100%;
	margin-right: 1px;
	margin-bottom: 2px;
	margin-top: 2px;
	background-color: black;
	opacity: .6;
	font-family: 'Encode Sans Expanded', sans-serif;
	color: white;
	font-weight: bold;
}

.btn-large:hover {
		background-color: black;
		opacity: .8;
}
